.header_container{
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  overflow-x: hidden;
}

.body_container{
  height: 100%;
  width: 100%;
  color: var(--white);
  background-color: var(--white);
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 6px;

}

::-webkit-scrollbar-track{
  background-color: var(--white);
}

::-webkit-scrollbar-thumb{
  
  background-color: var(--secondary-blue);
  border-radius: 2vw;

}
